@model NFLRoster.Models.Player

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: slateblue">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt style="color: slateblue">
            @Html.DisplayNameFor(model => model.FirstName)
            </dtstyle="color:>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt style="color: slateblue">
            @Html.DisplayNameFor(model => model.LastName)
            </dtstyle="color:>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt style="color: slateblue">
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt style="color: slateblue">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color row ju">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <div class="row justify-content-center">
        @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
